*{
  font-family: 'Roboto Condensed', sans-serif;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 498px;
}

.u-section-1 .u-list-1 {
  min-height: 397px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  margin-top: 74px;
  margin-bottom: 27px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 37px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 37px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 37px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-list-1 {
    min-height: 327px;
    margin-bottom: 15px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-list-1 {
    min-height: 920px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-1 .u-list-1 {
    min-height: 194px;
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-icon-1 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-1 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-icon-2 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-1 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-icon-3 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 27px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 447px;
}

.u-section-2 .u-list-1 {
  min-height: 393px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  margin-top: 44px;
  margin-bottom: 10px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 55px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 55px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-2 .u-btn-3 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-list-1 {
    min-height: 361px;
    margin-top: 50px;
    margin-bottom: 37px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-list-1 {
    min-height: 920px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    margin-top: 21px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-icon-1 {
    height: 90px;
    width: 90px;
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-2 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-icon-2 {
    height: 90px;
    width: 90px;
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .u-section-2 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-2 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-icon-3 {
    height: 90px;
    width: 90px;
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 27px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-3 .u-list-1 {
  min-height: 380px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  margin-top: 37px;
  margin-bottom: 37px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-3 .u-btn-2 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-3 .u-btn-3 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-list-1 {
    min-height: 313px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-3 .u-list-1 {
    min-height: 920px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1058px;
  }

  .u-section-3 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-icon-1 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-icon-2 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .u-section-3 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-3 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-icon-3 {
    animation-duration: 1000ms;
    margin-top: 21px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 27px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 859px;
}

.u-section-4 .u-list-1 {
  min-height: 798px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  margin: 15px 0 46px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-4 .u-btn-2 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-4 .u-btn-3 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 8px 0 -8px;
}

.u-section-4 .u-btn-4 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 39px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-4 .u-list-1 {
    min-height: 658px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-4 .u-list-1 {
    min-height: 920px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1058px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-4 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .u-section-4 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-4 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-4 .u-list-item-4 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 27px;
  }
}