*{
  font-family: 'Hammersmith One', sans-serif;
}

.u-section-1 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  width: 85px;
  margin: 94px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 21px -21px 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-block-a719-19 {
  background-image: none;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  width: 87px;
  margin: 21px auto 0;
}

.u-section-1 .u-table-2 {
  margin-top: 21px;
  margin-bottom: 1px;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  background-image: none;
}

.u-block-a719-53 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 281px;
    margin-left: 427px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-right: 226px;
    margin-left: 317px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-table-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
    margin-right: 181px;
    margin-left: 227px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 269px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 62px;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 638px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 26px 0 0 auto;
}

.u-section-2 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-block-ba78-54 {
  background-image: none;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 8px 0 0;
}

.u-section-2 .u-table-2 {
  margin-top: 26px;
  margin-bottom: 28px;
  margin-right: 0;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-block-ba78-32 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 441px;
    margin-left: 387px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 432px;
    margin-left: 379px;
  }

  .u-section-2 .u-table-2 {
    margin-top: 24px;
    margin-bottom: 10px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 277px;
    margin-right: 331px;
  }

  .u-section-2 .u-text-2 {
    width: 433px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 187px;
    margin-right: 241px;
  }

  .u-section-2 .u-text-2 {
    width: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 240px;
    margin-left: -14px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 118px;
    margin-left: -107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1419px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.875rem;
  width: 85px;
  text-decoration: underline !important;
  margin: 15px auto 0;
}

.u-section-3 .u-table-1 {
  margin: 15px 0 44px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-21 {
  background-image: none;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-table-cell-29 {
  background-image: none;
}

.u-section-3 .u-table-cell-33 {
  background-image: none;
}

.u-section-3 .u-table-cell-37 {
  background-image: none;
}

.u-section-3 .u-table-cell-41 {
  background-image: none;
}

.u-section-3 .u-table-cell-45 {
  background-image: none;
}

.u-section-3 .u-table-cell-49 {
  background-image: none;
}

.u-section-3 .u-table-cell-53 {
  background-image: none;
}

.u-section-3 .u-table-cell-57 {
  background-image: none;
}

.u-block-44e8-32 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 470px;
    margin-left: 385px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 18px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1449px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
    margin-left: 275px;
    margin-right: 360px;
  }

  .u-section-3 .u-table-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 185px;
    margin-right: 270px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-3 .u-text-1 {
    text-transform: uppercase;
    margin-top: 7px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-3 .u-table-1 {
    margin-top: 9px;
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1554px;
}

.u-section-4 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-21 {
  background-image: none;
}

.u-section-4 .u-table-cell-25 {
  background-image: none;
}

.u-section-4 .u-table-cell-29 {
  background-image: none;
}

.u-section-4 .u-table-cell-33 {
  background-image: none;
}

.u-section-4 .u-table-cell-37 {
  background-image: none;
}

.u-section-4 .u-table-cell-41 {
  background-image: none;
}

.u-section-4 .u-table-cell-45 {
  background-image: none;
}

.u-section-4 .u-table-cell-49 {
  background-image: none;
}

.u-section-4 .u-table-cell-53 {
  background-image: none;
}

.u-section-4 .u-table-cell-57 {
  background-image: none;
}

.u-block-6498-31 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1227px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1322px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 233px;
  margin: 24px auto 0;
}

.u-section-5 .u-table-1 {
  margin: 33px 0 10px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-5 {
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  background-image: none;
}

.u-section-5 .u-table-cell-13 {
  background-image: none;
}

.u-section-5 .u-table-cell-17 {
  background-image: none;
}

.u-section-5 .u-table-cell-21 {
  background-image: none;
}

.u-section-5 .u-table-cell-25 {
  background-image: none;
}

.u-section-5 .u-table-cell-29 {
  background-image: none;
}

.u-section-5 .u-table-cell-33 {
  background-image: none;
}

.u-section-5 .u-table-cell-37 {
  background-image: none;
}

.u-section-5 .u-table-cell-41 {
  background-image: none;
}

.u-section-5 .u-table-cell-45 {
  background-image: none;
}

.u-section-5 .u-table-cell-49 {
  background-image: none;
}

.u-section-5 .u-table-cell-53 {
  background-image: none;
}

.u-block-65e7-31 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-table-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 146px;
    margin-left: -38px;
  }

  .u-section-5 .u-table-1 {
    margin-top: 13px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 301px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 29px 78px 0;
}

.u-section-6 .u-table-1 {
  margin-top: 18px;
  margin-bottom: 20px;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-table-cell-5 {
  background-image: none;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-block-403a-32 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 27px;
    margin-left: -27px;
  }

  .u-section-6 .u-table-1 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-table-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-table-1 {
    margin-top: -49px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 15px;
    margin-right: 111px;
    margin-left: -111px;
  }

  .u-section-6 .u-table-1 {
    margin-top: 15px;
    margin-bottom: 60px;
  }
}